:root {
	--cell-size: calc(100% / 4);
}

.imgBox {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.imgItem {
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 5px;
	aspect-ratio: 1;
	cursor: pointer;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modalBox {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalBox img {
	max-width: 90%;
	max-height: 90%;
}